@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Heebo:wght@300;400;500;700&family=Mulish:wght@300;400;500;600;700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,700&family=Tilt+Prism&display=swap");

.text-left {
  text-align: left !important;
}

.navbar-container {
  /* background-color: #fafafa; */
  box-shadow: 9px 18px 46px -26px rgba(0, 0, 0, 0.45);
}

.navbar-brand img {
  max-width: 100%;
  height: 75px;
}

.nav-link {
  color: gray !important;
}

.nav-link:hover {
  color: black !important;
}

.hero-section {
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  @media (max-width: 576px) {
    background-size: cover;
    /* height: 400px; */
  }
}

.hero-section .info {
  text-align: center;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* @media (max-width :576px) {
    height: 200px;
  } */
}

.info h1 {
  text-align: center;
  color: white;
  font-family: Mulish;
  font-weight: 600;
  font-size: 48px;

  @media (max-width: 576px) {
    font-size: 28px;
  }
}

.info p {
  color: white;
  font-family: Mulish;
  font-weight: 400;
  font-size: 18px;
}

.italic-text {
  /* color: #ffca2c; */
  color: #adc87f;
  text-align: center;
  font-family: Caveat;
  font-weight: 500;
  font-size: 42px;

  @media (max-width: 576px) {
    font-size: 28px;
  }
}

.primary-heading {
  color: #3a4836;
  /* text-align: center; */
  font-family: Mulish;
  font-weight: 600;
  font-size: 42px;

  @media (max-width: 576px) {
    font-size: 28px;
  }
}

.offer-section .left img {
  max-width: 100%;
  height: 500px;
  object-fit: cover;

  position: relative;
  /* width: 500px; */
  /* height: 400px; */
  margin: 20px 0;
  background: red;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: 0.1em;

  /* @media (max-width :576px) {
    margin: 0 auto;
  } */
}

.offer-section .left img:before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

.box-item {
  border-left: 6px solid #3a4836;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 7px;
  max-width: 75%;

  @media (max-width: 576px) {
    max-width: 100%;
  }
}

.healthy-img {
  @media (max-width: 576px) {
    height: 200px !important;
    width: 100% !important;
  }
}

.box-item h2 {
  color: #3a4836;
  font-family: Mulish;
  font-weight: 500;
  font-size: 28px;

  @media (max-width: 576px) {
    font-size: 22px;
  }
}

.list-item {
  display: flex;
  align-items: center;
}

.list-item p {
  margin-bottom: 0 !important;
  margin-left: 5px;
}

.tick-img {
  height: 22px;
  width: 22px;
  object-fit: cover;
}

.carousel-caption h5,
p {
  color: #8ba55f;
}

.service-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-list {
  padding: 70px 20px;
  background-color: #f7f7f7;
}

.service-item img {
  width: 60px;
  height: 60px;
}

.service-item h4 {
  color: #3a4836;
  font-family: Mulish;
  font-weight: bold;
  font-size: 22px;
}

.service-item p {
  color: #3a4836;
  font-family: Mulish;
  font-size: 16px;
  text-align: center;
  max-width: 60%;
}

.gallery-container {
  margin-top: 25px;
}

/* //gallery start */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 25px;
  max-width: 90%;
  margin: 0 auto;
}

.image-container {
  margin: 10px;
  cursor: pointer;
}

.gallery-image {
  max-width: 400px;
  height: auto;
  transition: transform 0.2s;
  border-radius: 10px;
}

.gallery-image:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.close:hover {
  color: red;
}

/* gallery ends */

/* footer */
.footer-img {
  width: 50px;
  height: 50px;
}

/* //poultry farm file */
.hero-section-poultry {
  background-image: url("./images/poultry/jan-kraus-KNnH7kflEtQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.hero-section-poultry .info {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delivery {
  background-color: #f6ce21;
  padding: 25px;
  margin: 80px 0;
}

.delivery-single {
  background: #1f4617;
  border-radius: 10px;
  padding: 20px 10px;
  margin-top: -50px !important;

  @media (max-width: 576px) {
    margin-top: 0 !important;
    height: 350px;
  }
}

.delivery-single h4 {
  color: #f6ce21;
}

.hero-section-cattle .info {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section-cattle {
  background-image: url("./images/cattle/cattle-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
}

.hero-section-feed .info {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section-feed {
  background-image: url("./images/cattle/cattle-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
}

.feed-section-img img {
  max-width: 100%;
  object-fit: cover;
  /* width: 400px; */
  height: 500px;
  border-radius: 15px;
}

.feed-gray {
  background-color: #f7f7f7;
  border-radius: 15px;
  height: 500px;
}

.feed-gray-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}
